
* {
  box-sizing: border-box;
}

/*

font-family: 'Varela Round', sans-serif;

 Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 100%;
  
 
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

 /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
html,body{
  width: 100%;
  height: 100%;
  margin:0;
  position: relative;
 
}
.dashboard{
     background-color: #272516;
    position: relative;
    padding: 0;
    height: 100vh;


  }

  .ohalf{
    top: 30%;
    position: absolute;
    right: 50%;
    max-width: 100%;
    height: 50vh;
   


  }


  @keyframes bounce-out{

    from{box-shadow: 0 0 0 5px white;
    }

    to{
box-shadow: 0 0 0 10px white;
    }
  }

  .dp{
    
    animation-name: bounce-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    box-shadow: 0 0 0 5px white;
    padding: 5px;
    background-size: cover;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    
    
  }

  .dp:hover{


  }




  .thalf{
    top: 30%;
    position: absolute;
    left: 50%;
    max-width: 100%;
    height: 50vh;

  }
    .hello{
      
      position: absolute;
      font-family: 'Walter Turncoat', cursive;
      font-size: 5vh;
      left: 5vh;
      color: white;

    }

    .circles{
      
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      


      position: absolute;
      height: 15vh;
      width: 15vh;
      
      bottom: 30%;
    }


   

    /*.icon{
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%,-50%);
      height: 10vh;
      width: 10vh;
      line-height: 15vh;

    }*/

    .one{
      transition: background-color 0.4s ease-in-out;
      background-color: teal;
      left: 5vh;

    }
    

 .two{
  transition: background-color 0.4s ease-in-out;
      background-color: #092834;
      left: 25vh;
      
    }
    
     .three{
      transition: background-color 0.4s ease-in-out;

      background-color: #1da08b;
      left: 45vh;
      
    }
   

   
   .txt{
  
  transition: color 0.4s;

    color: white;
    font-family: 'Walter Turncoat', cursive;
   line-height: 15vh;
   font-style: bold;
   font-size: 2vh;
   
   }


   .one:hover{
    background-color: white;

   }
   .one:hover .txt{
    
    color: teal;

   }

.two:hover{
    background-color: white;

   }
   .two:hover .txt{
    
    color: #092834;

   }

   .three:hover{
    background-color: white;

   }
   .three:hover .txt{
    
    color: #1da08b;

   }
 




