
*{
  box-sizing: border-box;
}

/*

font-family: 'Varela Round', sans-serif;

 Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 100%;
  
 
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

 /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }


html,body{
  width: 100%;
  height: 100%;
  margin:0;
  position: relative;
 
}


.dashboard{
     background-color: #272516;
    position: relative;
    padding: 0;
    height: 100vh;


  }

  .ohalf{
    border-radius: 50%;
    top: 30%;
    position: absolute;
    right: 50%;
    max-width: 100%;
    height: 50vh;
   


  }


  @keyframes bounce-out{

    from{box-shadow: 0 0 0 5px white;
    }

    to{
box-shadow: 0 0 0 10px white;
    }
  }

  .bounce{
    animation-name: bounce-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .dp{
    
    
    position: relative;
    box-shadow: 0 0 0 5px white;
        background-size: cover;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    
    
  }

  

  



  .thalf{
    top: 30%;
    position: absolute;
    left: 50%;
    max-width: 100%;
    height: 50vh;

  }
    .hello{
      
      position: absolute;
      font-family: 'Walter Turncoat', cursive;
      font-size: 3vh;
      text-overflow: inherit;
      left: 45vh;
      color: white;

    }

    .circles{
      
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      


      position: absolute;
      height: 15vh;
      width: 15vh;
      
      
    }


   

.one{
    left: 5vh;
    background-color: teal;
    bottom: 30%;
   }

    

 .two{
  
      background-color: #092834;
      left: 25vh;
      bottom: 30%;
      
    }
    
     .three{
     
      background-color: #1da08b;
      left: 45vh;
      bottom: 30%;
      
    }
   

   
   .txt{

  
 

    color: white;
    font-family: 'Walter Turncoat', cursive;
   line-height: 15vh;
   font-style: bold;
   font-size: 2vh;
   
   }


.htxt {
  opacity: 0;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: black;
    font-family: 'Walter Turncoat', cursive;
   
   font-style: bold;
   font-size: 5vh;
}
  
   


.one:hover .txt{
    
    color: teal;

   }
   .two:hover .txt{
    
    color: #092834;

   }

  
   .three:hover .txt{
    
    color: #1da08b;

   }
 
.radial{
  
      
  transform: translateZ(0);
  
   
  
}

.radial:before{
content: "";
   position: absolute;
  z-index: -1;  /* to make it behind the text*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}


.radial:hover:before{
  transform: scale(1.1);

 
}


.dradial{
  
      
  transform: translateZ(0);
  
   
  
}

.dradial:before{
content: "";
   position: absolute;
  z-index: 1;  /* to make it above the text*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}


.dradial:hover:before{
  transform: scale(1.1);

}

.dradial:hover .htxt{
  z-index: 2;
  transition-delay: 0.3s;
  opacity: 1;
}




#aboutme{
  background-color: #A52A2A;
    position: relative;
    padding: 0;
    height: 100vh;
}


.labl{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 10%;
  color: white;
    font-family: 'Walter Turncoat', cursive;
   
   font-style: bold;
   font-size: 5vh;

}

.cont{
  position: absolute;
  font-size: 4vh;
  text-align: center;
    left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Varela Round', sans-serif;
  color: white ;
  
  word-spacing: 2px;

}

.c1{
  top: 50%;

}


#resume{

  background-color: teal;
    position: relative;
    padding: 0;
    height: 100vh;
}

.l2{
  top: 10%;
}
.l3{
  top: 20%;
}

.l4{
  top: 60%;
}
.c2{
  top: 20%;
}

.c4{
  top: 70%;
}

.skill{

  top: 40%;
  background-color: black;
  
  transform: translate(-50%,-50%);

}
.f{
  left:30%;
}
.s{
  left: 40%
}
.t{
  left: 50%;
}
.fo{
  left: 60%;
}
.fi{
  left: 70%;
}
.ftxt:after{
  position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  content: "Expert";
  opacity: 0;
}

.stxt:after{
  position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  content: "Intermediate";
  opacity: 0;
}
.ttxt:after{
  position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  content: "Expert";
  opacity: 0;
}
.fotxt:after{
  position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  content: "Intermediate";
  opacity: 0;
}
.fitxt:after{
  position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  content: "beginner";
  opacity: 0;
}



.skill:hover .ftxt:after{
opacity: 1;
  
  color: black;   

}
.skill:hover .stxt:after{
opacity: 1;
  
  color: black;   

}
.skill:hover .ttxt:after{
opacity: 1;
  
  color: black;   

}
.skill:hover .fotxt:after{
opacity: 1;
  
  color: black;   

}
.skill:hover .fitxt:after{
opacity: 1;
  
  color: black;   

}

.downbtn{
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 4vh;
  width: 12vh;
  box-shadow: 0 0 0 3px black;
  border-radius: 5%;
  
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-family: 'Walter Turncoat', cursive;

  background-color:black;
  color: white;
  font-size: 2vh;
  border-style: none;
}


.downbtn:hover{
    background-color: transparent;

}


#projects{
 background-color: #092834;
    position: relative;
    padding: 0;
    height: 100vh;

}